[submodule "Lab2/googletest"]
	path = Lab2/googletest
	url = https://github.com/google/googletest.git
[submodule "Lab2/tests/googletest"]
	path = Lab2/tests/googletest
	url = https://github.com/google/googletest.git
[submodule "Lab2/src/imgui"]
	path = Lab2/src/imgui
	url = https://github.com/ocornut/imgui.git
